<mat-card class="forgot-password-form">
    <form class="container" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-label class="forgot-password-label">Change Password</mat-label>
        <mat-form-field class="forgot-password-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>
        <small *ngIf="!forgotPasswordForm.get('email')?.valid && forgotPasswordForm.get('email')?.touched" class="form-text"
            style="color: red;">
            Please enter a valid email address
        </small>
        
        <mat-form-field class="forgot-password-full-width">
            <mat-label>Old Password</mat-label>
            <input matInput placeholder="Old Password" type="password" formControlName="oldPassword">
        </mat-form-field>
        <small *ngIf="!forgotPasswordForm.get('oldPassword')?.valid && forgotPasswordForm.get('oldPassword')?.touched" class="form-text"
            style="color: red;">
            Please enter your old password
        </small>
        
        <mat-form-field class="forgot-password-full-width">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="New Password" type="password" formControlName="newPassword">
        </mat-form-field>
        <small *ngIf="!forgotPasswordForm.get('newPassword')?.valid && forgotPasswordForm.get('newPassword')?.touched" class="form-text"
            style="color: red;">
            Please enter a new password
        </small>
        
        <mat-form-field class="forgot-password-full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
        </mat-form-field>
        <small *ngIf="!forgotPasswordForm.get('confirmPassword')?.valid && forgotPasswordForm.get('confirmPassword')?.touched" class="form-text"
            style="color: red;">
            Please confirm your new password
        </small>
        
        <br>

        <button mat-raised-button class="forgot-password-button" color="primary">Submit</button><br><br>
        <p>If you remember your password, you can <a routerLink="/login">Login</a> instead.</p>
    </form>
</mat-card>
