h2 {
  padding-top: 10%;
  padding-left: 20%;
}

.toolbar {
  margin-right: 5%;
  float: right;
}

.table {
  margin-bottom: 20px;
  margin-left: 20%;
  padding-right: 25%;
}

.paymentButton {
  margin-bottom: 20px;
}

.downloadButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.downloadButton:hover {
  color: rgb(49, 97, 253);
}