<div class="sidebar" *ngIf="isShow">
    <ul class="menu">
        <li>
            <a routerLink="/">
                <mat-icon>home</mat-icon>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/customers">
                <mat-icon>group</mat-icon>
                <span>Customers</span>
            </a>
        </li>
        <li>
            <a routerLink="/payments">
                <mat-icon>payments</mat-icon>
                <span>Payments</span>
            </a>
        </li>
        <li>
            <a routerLink="/invoices">
                <mat-icon>receipt</mat-icon>
                <span>Invoices</span>
            </a>
        </li>
        <li>
            <a routerLink="/loan-plans">
                <mat-icon>attach_money</mat-icon>
                <span>Loan Plans</span>
            </a>
        </li>
        <li>
            <a routerLink="/loans">
                <mat-icon>monetization_on</mat-icon>
                <span>Loans</span>
            </a>
        </li>
        <li>
            <a routerLink="/reports">
                <mat-icon>reports</mat-icon>
                <span>Reports</span>
            </a>
        </li>
        <li>
            <a routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</div>