<mat-card class="forgot-password-form">
    <form class="container" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
        <mat-label class="forgot-password-label">Forgot Password</mat-label>

        <mat-form-field class="forgot-password-full-width">
            <mat-label>Registered Email</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>
        <small *ngIf="!forgotPasswordForm.get('email')?.valid && forgotPasswordForm.get('email')?.touched" class="form-text"
            style="color: red;">
            Please enter a valid email address
        </small>
        
        <br>

        <button mat-raised-button class="forgot-password-button" color="primary">Submit</button><br><br>
        <p>If you remember your password, <a routerLink="/login">click here to login</a></p>
    </form>
</mat-card>
